<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#0d6efd">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 出庫管理システム</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleAutomaticStorageSystem.Server.styles.css" asp-append-version="true" />

</head>

<body class="bg-primary app-shell">
    <header>
        <nav class="navbar navbar-toggleable-xxl navbar-light">
            <div class="container">
                <span class="navbar-brand fs-3 fw-bold text-white">@ViewData["Title"]</span>
                <div class="dropdown">
                    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end py-2">
                        <li>
                            <a class="dropdown-item text-primary py-2" asp-area="" asp-page="/PickingOrders/Index">
                                出庫依頼
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary py-2" asp-area="" asp-page="/PickingOrders/History">
                                出庫履歴
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="app-main">
        <div class="container work-page">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        console.log(window.isSecureContext);

        if ('serviceWorker' in navigator) {

        window.addEventListener('load', () => {

        navigator.serviceWorker
        .register('/service-worker.js')

        .then(reg =>
        console.log(
        'Service Worker 登録成功！ Scope:',
        reg.scope))

        .catch(err =>
        console.error(
        'Service Worker 登録失敗...',
        err));
        });
        }
    </script>

</body>
</html>