@page "/picking-orders/history"
@model HistoryModel
@{
}

<div class="sticky-top bg-white border-bottom shadow-sm p-2" style="top: 56px; z-index: 999;">
	<div class="mb-4">
		<form method="get">
			<div class="row g-2 align-items-center mb-2">
				<div class="col-5">
					<input type="date" name="from" class="form-control form-control-sm border-dark shadow-sm" />
				</div>
				<div class="col-1 text-center">～</div>
				<div class="col-5">
					<input type="date" name="to" class="form-control form-control-sm border-dark shadow-sm" />
				</div>
			</div>

			<div class="row g-2 align-items-center mb-3">
				<div class="col-8">
					<select name="sort" class="form-select form-select-sm border-dark shadow-sm" onchange="this.form.submit()">
						<option value="Latest" selected>最新</option>
						<option value="Oldest">古い順</option>
					</select>
				</div>
			</div>
		</form>

		<div class="row g-2 align-items-center mb-3">
			<div class="col-4 offset-8 text-end">
				<form method="get">
					<button type="submit" class="btn btn-primary btn-sm fw-bold w-100 shadow-sm">更新</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="card bg-light rounded-4 p-3 border-secondary border-opacity-25">
	<div class="d-flex flex-column gap-2">
		<div class="card bg-light rounded-4 p-3 border-secondary border-opacity-25">
			<div id="finishedTskListContainer" class="d-flex flex-column gap-2">
				<!-- JOB履歴表示 Indexに合わせて修正 -->
				<table>
					<tbody>
						@foreach(var job in Model.ClosedJobList)
						{
							<tr>
								<td>@job.Status</td>
								<td>@job.ItemName</td>
								<td>@job.ClosedAt</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		@if (!Model.ClosedJobList.Any())
		{
			<div class="text-center text-secondary py-3 small">対象の履歴はありません。</div>
		}
	</div>
</div>