<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

	<!-- 変数 -->
	<variable name="logDir" value="${basedir}/logs" />

	<!-- 出力先 -->
	<targets>

		<!-- コンソール -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />

		<!-- 日毎ファイル -->
		<target xsi:type="File"
				name="file"
				fileName="${logDir}/${shortdate}.log"
				archiveEvery="Day"
				maxArchiveFiles="30"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />

	</targets>

	<!-- ログレベル -->
	<rules>

		<!-- Microsoft系はInfo未満を抑制 -->
		<logger name="Microsoft.*"
				maxlevel="Info"
				final="true" />

		<!-- その他 -->
		<logger name="*"
				minlevel="Info"
				writeTo="console,file" />

	</rules>
	
</nlog>