<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

	<targets>
		<target name="actionfile" xsi:type="File" fileName="logs/cons_inventory-${shortdate}.log"
				layout="${longdate}|${loglevel:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
		<target name="sysfile" xsi:type="File" fileName="logs/cons_system-${shortdate}.log"
				layout="${longdate}|${loglevel:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="Action.*" minlevel="Info" writeTo="actionfile" final="true" />
		<logger name="*" minlevel="Debug" writeTo="sysfile" />
	</rules>

</nlog>
